<div class="stepsdemo-content" style="width: 500px; height: auto">
  <p-card>
    <ng-template pTemplate="title"> Personal Information </ng-template>
    <ng-template pTemplate="subtitle">
      Enter your personal information
    </ng-template>
    <ng-template pTemplate="content">
      <div class="p-fluid">
        <div class="field">
          <label for="pswd">password</label>
          <p-password
            #pswd="ngModel"
            required
            [toggleMask]="true"
            [(ngModel)]="accountInfos.pswd"
            id="pswd"
            [ngClass]="{
              'ng-dirty':
                (pswd.invalid && submitted) || (pswd.dirty && pswd.invalid)
            }"
          >
            <ng-template pTemplate="header">
              <h6>Pick a password</h6>
            </ng-template>
            <ng-template pTemplate="footer">
              <p-divider></p-divider>
              <p class="mt-2">Suggestions</p>
              <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                <li>At least one lowercase</li>
                <li>At least one uppercase</li>
                <li>At least one numeric</li>
                <li>Minimum 8 characters</li>
              </ul>
            </ng-template>
          </p-password>
          <small
            *ngIf="(pswd.invalid && submitted) || (pswd.dirty && pswd.invalid)"
            class="p-error"
            >password is required.</small
          >
        </div>
        <div class="field">
          <label for="ConfirmPassword">Confirm Password</label>
          <p-password
            [toggleMask]="true"
            #ConfirmPassword="ngModel"
            id="ConfirmPassword"
            [feedback]="false"
            required
            [(ngModel)]="confirmPassword"
            [ngClass]="{
              'ng-dirty':
                (ConfirmPassword.invalid && submitted) ||
                (ConfirmPassword.dirty && ConfirmPassword.invalid) ||
                ConfirmPassword.value !== accountInfos.pswd
            }"
          ></p-password>

          <small
            class="p-error"
            *ngIf="
              (ConfirmPassword.invalid && submitted) ||
              (ConfirmPassword.dirty && ConfirmPassword.invalid) ||
              ConfirmPassword.value !== accountInfos.pswd
            "
            >Confirm Password doesn't match Password.</small
          >
        </div>
        <div class="field col-12 md:col-6">
          <label for="class">Class</label>
          <p-dropdown
            inputId="class"
            [(ngModel)]="accountInfos.role"
            [options]="roles"
            (onChange)="setRole($event)"
            optionLabel="name"
            placeholder="Select Your Role"
            [ngClass]="{
              'ng-dirty':
                (roleInvalid && submitted) || (roleTouched && roleInvalid)
            }"
          ></p-dropdown>
          <small
            class="p-error"
            *ngIf="(roleInvalid && submitted) || (roleTouched && roleInvalid)"
            >Please select a valid role.</small
          >
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="footer">
      <div class="grid grid-nogutter justify-content-between">
        <button
          pButton
          pRipple
          label="Back"
          icon="pi pi-angle-left"
          [routerLink]="['/registration/address']"
          style="background-color: var(--primary-color); color: white"
        ></button>
        <button
          pButton
          pRipple
          label="Next"
          icon="pi pi-angle-right"
          iconPos="right"
          (click)="nextPage()"
          [disabled]="!isFormValid()"
          style="background-color: var(--primary-color); color: white"
        ></button>
      </div>
    </ng-template>
  </p-card>
</div>
